[submodule ".emacs.d/xcscope"]
	path = .emacs.d/xcscope
	url = https://github.com/dkogan/xcscope.el.git
[submodule ".emacs.d/monokai"]
	path = .emacs.d/monokai
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule ".emacs.d/haskell-mode"]
	path = .emacs.d/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/idris-mode"]
	path = .emacs.d/idris-mode
	url = https://github.com/idris-hackers/idris-mode.git
[submodule ".emacs.d/smart-tab"]
	path = .emacs.d/smart-tab
	url = https://github.com/genehack/smart-tab.git
[submodule ".emacs.d/flycheck"]
	path = .emacs.d/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule ".emacs.d/dash"]
	path = .emacs.d/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/rust-mode"]
	path = .emacs.d/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule ".emacs.d/flycheck-rust"]
	path = .emacs.d/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
