[alias]
  st = status
  # %C(auto) may not work on older git version
  # lg = log --graph --date=short --pretty=tformat:'%h -%d %s (%an, %ad)'
  lg = log --graph --date=short --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an, %ad)%Creset'
  ft = fetch --all --tags --prune
  fp = format-patch -M -C --find-copies-harder --stdout
[core]
  # pager = less -R
  whitespace = trailing-space, space-before-tab, tab-in-indent
[merge]
  # conflictStyle = diff3
[push]
  default = simple
[color]
  ui = auto
[format]
  pretty = fuller
[include]
  # so I can locally override some settings, like user.email & user.name
  path = ~/.gitconfig.local
[diff]
  algorithm = patience
  mnemonicPrefix = true
[merge]
  # will influence pull.ff if unspecified
  ff = only
[push]
  # always specify refspec
  default = nothing
[rebase]
  missingCommitsCheck = warn
[credential]
  # avoid storing credentials (Homebrew's git config --system credential.helper is set to osxkeychain)
  helper =
[grep]
  patternType = perl
