[user]
	email = kevinboulain@gmail.com
	name = Kevin Boulain
[alias]
        st = status
        ci = commit
        lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
[core]
	pager = less -R
[merge]
	conflictStyle = diff3
[push]
	default = simple
[color]
	ui = auto
