[submodule ".emacs.d/xcscope"]
	path = .emacs.d/xcscope
	url = https://github.com/dkogan/xcscope.el.git
[submodule ".emacs.d/theme/monokai"]
	path = .emacs.d/theme/monokai
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule ".emacs.d/haskell-mode"]
	path = .emacs.d/haskell
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/idris-mode"]
	path = .emacs.d/idris
	url = https://github.com/idris-hackers/idris-mode.git
[submodule ".emacs.d/flycheck"]
	path = .emacs.d/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule ".emacs.d/dash"]
	path = .emacs.d/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/rust-mode"]
	path = .emacs.d/rust
	url = https://github.com/rust-lang/rust-mode.git
[submodule ".emacs.d/flycheck-rust"]
	path = .emacs.d/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
[submodule ".emacs.d/seq"]
	path = .emacs.d/seq
	url = https://github.com/NicolasPetton/seq.el.git
[submodule ".emacs.d/lua-mode"]
	path = .emacs.d/lua
	url = https://github.com/immerrr/lua-mode.git
[submodule ".emacs.d/hlinum"]
	path = .emacs.d/hlinum
	url = https://github.com/tom-tan/hlinum-mode.git
[submodule ".emacs.d/company"]
	path = .emacs.d/company
	url = https://github.com/company-mode/company-mode.git
[submodule ".emacs.d/racer"]
	path = .emacs.d/racer
	url = https://github.com/racer-rust/emacs-racer.git
[submodule ".emacs.d/s"]
	path = .emacs.d/s
	url = https://github.com/magnars/s.el.git
[submodule ".emacs.d/prop-menu"]
	path = .emacs.d/prop-menu
	url = https://github.com/david-christiansen/prop-menu-el.git
[submodule ".emacs.d/htmlize"]
	path = .emacs.d/htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule ".emacs.d/theme/zenburn"]
	path = .emacs.d/theme/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule ".emacs.d/theme/tao"]
	path = .emacs.d/theme/tao
	url = https://github.com/11111000000/tao-theme-emacs.git
[submodule ".emacs.d/cmake-ide"]
	path = .emacs.d/cmake-ide
	url = https://github.com/atilaneves/cmake-ide.git
